<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <title>Moov Money</title>
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">INVOICES/p></center>
    </div>

    <center> <img src="../../../assets/images/moov.svg" class="full-logo"> </center>

    <!--CONFIRMATION DETAILS-->
    
    <p style="text-align: center; line-height: 0%; font-size: 14px;" id="accountNo"> +22309876543</p>
    
    <div class="row">
        <div class="column">
            <p class="display-title">Balance</p>
        </div>
        <div class="column">
            <p class="display-label" id="balance">5,500.00</p>
        </div>
    </div>

    <p class="details">You’re about to send</p>

    <div class="row">
        <div class="column">
            <p class="display-title" id="amount">Amount</p>
        </div>
        <div class="column">
            <p class="display-label">2,000.00</p>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2rem;">
        <div class="column">
            <p class="transaction-fee">Transaction_Fee</p>
        </div>
        <div class="column">
            <p class="transaction-fee" style="text-align: right;">30.00</p>
        </div>
    </div>
    
</body>
</html>