<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="icon" type="image/x-icon" href="../../assets/images/moov.ico">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <img class="moov-logo" src="../../assets/images/moov.png">
    </div>
    <div class="title-div">
        <center><p class="title">SEND MONEY</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <div>
        <center>
                <button class="btn-country"> Self</button>
                <button class="btn-country"> Others</button>
        </center>
    </div>
</body>
</html>