<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <center><p class="header-title">SEND MONEY</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <center>
        <button class="button" onclick="redirectTo('/views/SendMoney/TowardsMoov/TowardsMoov.html')" tabindex="1"> Towards Moov</button>
        <button class="button" onclick="redirectTo('/views/SendMoney/ToOtherNetworks/OtherNetSendMoney.html')" tabindex="2"> To Other Networks</button>
        <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/InternationalSelection.html')" tabindex="3"> Towards the International</button>
    </center>

    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>SELECT</p></div>
        <div class="footer-col"><p>&nbsp;&nbsp;&nbsp;</p></div>
    </div>


    <script>
        // FOR URL LINKING TO OTHER PAGE
        function redirectTo(url) {
            window.location.href = url;
        }

        // FOR KEYPAD NAVIGATION
        function handleKeydown(e) {
            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.button');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>