<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">SEND MONEY</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <!-- USER INPUTS -->
    <div class="container">
        <p class="input-label">Merchant's Name</p>
        <input class="inputs2" type="text" id="merchantName" name="merchant-name" placeholder="Enter merchant's name">
    </div>

    <div class="container">
        <p class="input-label">Account Number</p>
        <input class="inputs2" type="number" id="accountNum" name="acc-num" placeholder="Enter account number">
    </div>

    <div class="container">
        <p class="input-label">Amount</p>
        <input class="inputs2" type="number" id="amount" name="amount" placeholder="Enter Amount">
    </div>
</body>
</html>