<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../assets/images/moov.ico">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Moov Money</title>
</head>
<body>
    <!--GENERAL CONTENT SCREEN-->
    <div class="header">
        <img class="moov-logo" src="../../assets/images/moov.png">
    </div>
    <div class="title-div">
        <p class="title" style="font-size: 12px;">BALANCE/TRANSACTION HISTORY</p>
    </div>

    <!--CONTENT START-->

    <!--MY BALANCE-->
    <div class="container" style="text-align: center; line-height: 0;">
        <p style="font-weight: bold; font-size: 16px;color: #252525;">MY BALANCE</p>
        <p id="balance" style="font-size: 18px; font-weight:bold; color: #252525;">3,500.00</p>
    </div>

    <hr style="height: 2px; border-width:0; background-color: #E3D4CA;">

    <p style="margin-top: 1rem; margin-bottom: 2rem; font-size: 14px; color: #716B67; font-weight: bold; text-align: center;"> 5 Latest Transactions</p>

    <!--TRANSACTIONS-->
    <div class="row container">
        <div class="column">
            <p id="transaction_label" style="font-weight: 600; font-size: 14px; margin: 0; color: #252525;">Cash In</p><p id="timedate" style="font-weight: normal; font-size: 12px;">02/10/2024 23:10</p>
        </div>
        
        <div class="column">
            <p id="transaction_value" style="text-align: right; font-size: 14px; font-weight: bold; color: #EC6707;"> + 1,500.00</p>
        </div>
    </div>

    <hr style="height: 2px; border-width:0; background-color: #E3D4CA;">

    <div class="row container">
        <div class="column">
            <p id="transaction_label" style="font-weight: 600; font-size: 14px; margin: 0; color: #252525;">Sent Money</p><p id="timedate" style="font-weight: normal; font-size: 12px;">02/10/2024 10:15</p>
        </div>
        
        <div class="column">
            <p id="transaction_value" style="text-align: right; font-size: 14px; font-weight: bold; color: #EC6707;"> - 2,000.00</p>
        </div>
    </div>

    <hr style="height: 2px; border-width:0; background-color: #E3D4CA;">

    <div class="row container">
        <div class="column">
            <p id="transaction_label" style="font-weight: 600; font-size: 14px; margin: 0; color: #252525;">Sent To Bank</p><p id="timedate" style="font-weight: normal; font-size: 12px;">02/10/2024 25:23</p>
        </div>
        
        <div class="column">
            <p id="transaction_value" style="text-align: right; font-size: 14px; font-weight: bold; color: #EC6707;"> - 500.00</p>
        </div>
    </div>

    <hr style="height: 2px; border-width:0; background-color: #E3D4CA;">

    <div class="row container">
        <div class="column">
            <p id="transaction_label" style="font-weight: 600; font-size: 14px; margin: 0; color: #252525;">Received Money</p><p id="timedate" style="font-weight: normal; font-size: 12px;">02/10/2024 16:10</p>
        </div>
        
        <div class="column">
            <p id="transaction_value" style="text-align: right; font-size: 14px; font-weight: bold; color: #EC6707;"> + 2,000.00</p>
        </div>
    </div>

    <hr style="height: 2px; border-width:0; background-color: #E3D4CA;">
</body>
</html>