<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../assets/images/moov.ico">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Moov Money</title>
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <img class="moov-logo" src="../../assets/images/moov.png">
    </div>
    <div class="title-div">
        <center><p class="title" style="font-size: 12px;">UPDATE ACCOUNT INFORMATION</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <input class="inputs" type="text" id="birthdate" name="birthdate" placeholder="Birthdate">
    <input class="inputs" type="number" id="nationality" name="nationality" placeholder="Nationality">
    <input class="inputs" type="number" id="current_address" name="current-address" placeholder="Current Address">
</body>
</html>