<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/images/moov.ico">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <style>
        .btn-country:focus {
            background-color: darkviolet; 
            color: white; 
        }
    </style>
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <center><p class="title">COUNTRY</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <div>
        <center>
                <button class="button" tabIndex="1" onclick="document.location='InternationalFillup.html'"> BURKINA</button>
                <button class="button" tabIndex="2" onclick="document.location='InternationalFillup.html'"> MALI</button>
                <button class="button" tabIndex="3" onclick="document.location='InternationalFillup.html'"> IVORY</button>
                <button class="button" tabIndex="4" onclick="document.location='InternationalFillup.html'"> COAST</button>
                <button class="button" tabIndex="5" onclick="document.location='InternationalFillup.html'"> BERNIN</button>
                <button class="button" tabIndex="6" onclick="document.location='InternationalFillup.html'"> TOGO</button>
        </center>
    </div>

    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>SELECT</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>

    <script>
        // KEYPAD FUNCTION
        function handleKeydown(e) {
            // Prevent default behavior of arrow keys
            e.preventDefault();

            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
                case 'ArrowRight':
                    nav(1);
                    break;
                case 'ArrowLeft':
                    nav(-1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.button');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>