<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <center><p class="title">SELECT TRANSACTION</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <center>
        <button class="button">Western</button>
        <button class="button">Wari</button>
        <button class="button">Money Gram</button>
        <button class="button">Money Express</button>
    </center>

    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>SELECT</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>
</body>
</html>