<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
<style>
        .button:focus {
            background-color: darkviolet; 
            color: black; 
        }
    </style>
    </head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <img class="moov-logo" src="../../../assets/images/headermoov.svg">
    </div>
    <div class="title-div">
        <center><p class="title">PLEASE SPECIFY</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <div>
        <center>
                <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/Confirmation.html')"> Family Support</button>
                <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/Confirmation.html')"> Education</button>
                <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/Confirmation.html')"> Travel</button>
                <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/Confirmation.html')"> Gift</button>
                <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/Confirmation.html')"> Investment</button>
                <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/Confirmation.html')"> Real Estate</button>
                <button class="button" onclick="redirectTo('/views/SendMoney/TowardsInternational/Confirmation.html')"> Business Transactions</button>
        </center>
    </div>

    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>SELECT</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>

    <script>
        // FOR URL LINKING TO OTHER PAGE
        function redirectTo(url) {
            window.location.href = url;
        }

        // KEYPAD FUNCTION
        function handleKeydown(e) {
            // Prevent default behavior of arrow keys
            e.preventDefault();

            switch(e.key) {
                case 'ArrowUp':
                    nav(-1);
                    break;
                case 'ArrowDown':
                    nav(1);
                    break;
                case 'ArrowRight':
                    nav(1);
                    break;
                case 'ArrowLeft':
                    nav(-1);
                    break;
            }
        }

        document.addEventListener('keydown', handleKeydown); 

        function nav(move) {
            const items = document.querySelectorAll('.button');
            const currentIndex = Array.from(items).findIndex(item => item === document.activeElement);
            const targetIndex = currentIndex + move;
            const targetElement = items[targetIndex];
            if (targetElement) {
                targetElement.focus();
            }
        }
    </script>
</body>
</html>