<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">SEND MONEY</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <!-- USER INPUTS -->
    <div class="container">
        <p class="input-label">Counter Number</p>
        <input class="inputs2" type="number" id="counterNo" name="counter-number" placeholder="Enter counter number">
    </div>

    <div class="container">
        <p class="input-label">Customer Name</p>
        <input class="inputs2" type="text" id="userName" name="customer-name" placeholder="Enter Customer Name">
    </div>

    <div class="container">
        <p class="input-label">Meter Number</p>
        <input class="inputs2" type="number" id="meterNumber" name="meter-number" placeholder="Enter Meter No.">
    </div>

    <div class="container">
        <p class="input-label">Amount</p>
        <input class="inputs2" type="number" id="amount" name="amount" placeholder="Enter Amount">
    </div>
</body>
</html>