<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">EXPRESS SEND</p></center>
    </div>

    <center> 
        <img src="../../../assets/images/moov.svg" class="full-logo"> 
    </center>

    <p class="black-title"> Delete N Counter</p>

    <!--MAIN CONTENT START-->

    <!-- USER INPUTS -->
    <div class="container">
        <p class="input-label">No. you want to delete</p>
        <input class="inputs2" type="number" id="accountNo" name="account-num" placeholder="123456789">
    </div>
</body>
</html>