<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <center><p class="title">INVOICES</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <center>
        <button class="btn-country">Recharge Meter</button>
        <button class="btn-country">Save N Counter</button>
        <button class="btn-country">Delete N Counter</button>
    </center>
</body>
</html>