<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <title>Moov Money</title>
</head>
<body>
    <!--GENERAL CONTENT SCREEN-->
    <div class="header-div">
        <center><p class="header-title">DIGITAL RECEIPT</p></center>
    </div>

    <center> <img src="../../../assets/images/moov.svg" class="full-logo"> </center>

    <!--CONTENT START-->
    <div class="container">
        <p id="fullname"> Abdul Jafar</p>
        <p id="contact">+27123456789</p>
    </div>
   
    <div class="container receipt-content">
        <!--AMOUNT-->
        <p style="font-weight: bold; margin-top: 2rem; line-height: 0;">Amount</p>
        <p id="amount" style="margin-bottom: 2rem;">2,000.00</p>

        <!--TOTAL AMOUNT SENT-->
        <p style="font-weight: bold; line-height: 0;">Total Amount Sent</p>
        <p id="total_amount" style="margin-bottom: 2rem;">2,000.00</p>
    
        <!--REFERENCE NUMBEER-->
        <p style="font-weight: bold; line-height: 0;">Reference No.</p>
        <p id="ref_no" style="margin-bottom: 2rem;">2014 123 456789</p>
    </div>
            
    <!--DATE & TIME-->
    <div class="row container">
        <div class="column">
            <p id="date" style="text-align: left; font-size: 14px;">02/10/2024</p>
        </div>    
        <div class="column">
            <p id="time" style="text-align: right; margin-bottom: 2rem; font-size: 14px;">5:30PM</p>
        </div>
    
    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 2rem;">
        <!-- TRANSACTION MESSAGE -->
        <p style="font-size: 12px; font-weight: bold; text-align:center;">This transaction is protected.</p>
    </div>
    
    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>DOWNLOAD</p></div>
        <div class="footer-col"><p>&nbsp;&nbsp;&nbsp;</p></div>
    </div>
</body>
</html>