<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header">
        <center><p class="title">AIRTIME</p></center>
    </div>

    <!--MAIN CONTENT START-->
    <center>
        <button class="button" onclick="redirectTo('/views/Airtime/ToMyNumberSend.html')">To My Number</button>
        <button class="button" onclick="redirectTo('/views/Airtime/RechargeMoovSubscriber.html')">Recharge a moov subscriber</button>
    </center>

    <!-- Fixed footer -->
    <div class="footer" style="font-size: 12px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>SELECT</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>

    <script>
        // FOR URL LINKING TO OTHER PAGE
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>